:root{
 --LimeColor: #c6ffc6;
 --RosieColor: #ce007f;
 --coralColor:  coral;
 --darkBorder: rgb(73, 0, 80);
}

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
/* @font-face {
  font-family: 'DotGothic16' ;
  src: url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
}

@font-face {
  font-family: 'Aurebesh';
  src: url('./Fonts/aurebesh/Aurebesh.ttf') format('truetype');
}

@font-face{
  font-family: 'AurebeshCalligraphy-Regular';
  src: url('./Fonts/AurebeshCalligraphy-Regular.ttf');
}

@font-face {
  font-family: 'AurebeshAF-LegendsTech';
  src: url('./Fonts/AurebeshAF-LegendsTech.otf');
} */
.App {
  font-family: 'DotGothic16';
  text-align: center;
  border: solid;
  border-style:dashed;
  border-color: var(--darkBorder);
  border-width: 2px;
  border-radius: 10px;
}

body {
  padding: 30px;
  background-color: #96a2af;
  font-family: 'DotGothic16';
  display: flex;
  justify-content: center;
}

.home-Button {
  font-family: 'DotGothic16';
}

.submit-Button{

  font-family: 'DotGothic16';
  font-size: 30px;
  border-radius: 4px;
}


label {

  font-family: 'DotGothic16';
  font-size: 20px;
}

a {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--LimeColor);
  /* font-family: Aurebesh; */
  font-family: 'DotGothic16';
  font-size: 25px;
  padding: 3px;
  margin: 2px;
  border: solid;
  border-style:dashed;
  border-color:var(--darkBorder);
  border-width: 2px;
  border-radius: 10px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--LimeColor);
  /* font-family: Aurebesh; */
  font-family: 'DotGothic16';
}

nav {
  display: flex;
  justify-content: center;
}

input {
  background-color: var(--LimeColor);
  display: flex;
  justify-content: right;
  border-radius: 3px;
  border-style: dashed;
  border-width: 2px;
  border-color: var(--RosieColor);
}

p {
  background-color: var(--LimeColor);
  display: flex;
  justify-content: center;
  border-radius: 3px;
  border-style: dashed;
  border-width: 2px;
  border-color: var(--RosieColor);
}