:root{
 --baseSquareColor: #2d1e32;
 --squareFontColor: #ce007f;
 
}
@font-face {
  font-family: 'Aurebesh';
  src: url('./Fonts/aurebesh/Aurebesh.ttf') format('truetype');
}
@font-face{
  font-family: 'AurebeshCalligraphy-Regular';
  src: url('./Fonts/AurebeshCalligraphy-Regular.ttf');
}
@font-face {
  font-family: 'DotGothic16' ;
  src: url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
}
@font-face {
  font-family: 'AurebeshAF-LegendsTech';
  src: url('./Fonts/AurebeshAF-LegendsTech.otf');
}
.App {
  font-family: 'DotGothic16';
  text-align: center;
  border: solid;
  border-style:dashed;
  border-color: coral;
  border-width: 2px;
  border-radius: 10px;
}

body {
  padding: 30px;
  background-color: #96a2af;
  font-family: 'DotGothic16';
  /* font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif; 
  color: white;*/
  display: flex;
  justify-content: center;

}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~` 

h1:hover {
  font-family: 'AurebeshAF-LegendsTech', sans-serif;
  font-size: 35px;
}
nav:hover{
  font-family:'AurebeshCalligraphy', sans-serif; 
}
.home-Button:hover{
  font-family:'DotGothic16', sans-serif; 
  font-size: 30px;
}

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~` */
.home-Button {
  text-align: left;
  font-family: Aurebesh;
}

.submit-Button{
  font-family: 'AurebeshCalligraphy-Regular';
  font-size: 30px;
}


label {
  font-family: 'AurebeshCalligraphy-Regular';
  font-size: 30px;
}

h1,h2,h3,
h4,h5,p {
  margin: 0;
}


hr {
  height: 1px;
  margin: 30px 0;
  border: none;
  background-color: #cacaca;
}

.gaming-Grid {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border: solid;
  border-style:dashed;
  border-color: rgb(73, 0, 80);
  border-width: 3px;
  border-radius: 10px;
}

.gaming-Grid div{
  width: 95px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--baseSquareColor);
  font-family: Aurebesh;
  font-size: 25px;
  border: solid;
  border-style:dashed;
  border-color: coral;
  border-width: 2px;
  border-radius: 10px;
}

button {
  font-family: Aurebesh;
}